.area {
    width: 300px;
    height: 86px;
    background-color: #EDEDED;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 0 20px 0;
}

.internalArea {
    width: 270px; 
    background-color: #FFFFFF;
    border-radius: 5px 0 0 5px;
    margin-left: 10px;
    display: flex;
}

.internalArea p {
    color: #A7A7A7;
    font-size: 15px;
    margin-left: 15px;
} 

@media (min-width: 576px) {
    .area {
        width: 530px;
        height: 123px;
        padding-left: 5px;
    }

    .internalArea {
        width: 500px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .area {
        width: 708px;
        height: 123px;
    }

    .internalArea {
        width: 680px;
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .area {
        width: 936px;
    }

    .internalArea {
        margin-left: 97px;
    }
}

@media (min-width: 1280px) {
    .area {
        width: 1066px;
        margin: 30px 40px 10px 40px;
    }

    .internalArea {
        width: 850px;
        margin-left: 97px;
    }
}