.home-container {
  padding: 10px;
  font-size: 18px;
}

.home-image-container {
  width: 300px;
  background-color: #00285f;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  margin-left: -20px;
  margin-top: -10px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.home-image-container h2 {
  width: 100%;
  color: #ffffff;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
  margin-top: 40px;
  margin-left: 5px;
}

.home-image-container p {
  width: 100%;
  color: #ffffff;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  margin: 10px 0px 30px 0px;
}

.home-content-container {
  width: 300px;
  height: 130px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  background-color: #ededed;
  margin-top: 20px;
  margin-left: -20px;
  text-align: center;
}

.btn-icon {
  font-weight: 700;
}

.home-content-container button h6 {
  margin-top: 5px;
  font-size: 12px;
}

.home-content-container p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  color: #585858;
  
}

.home-content-container a {
  text-decoration: none;
}

@media (min-width: 576px) {
  .home-container {
    padding: 20px;
    font-size: 36px;
    align-items: center;
  }

  .home-image-container {
    width: 536px;
    text-align: center;
  }

  .home-image-container svg {
    width: 80%;
    margin-left: 20px;
  }

  .home-image-container h2 {
    width: 100%;
    font-size: 36px;
  }

  .home-image-container p {
    width: 100%;
    font-size: 20px;
    line-height: 21px;
    padding: 5px;
  }

  .home-content-container {
    width: 536px;
    display: flex;
    flex-direction: column-reverse;
  }

  .home-content-container p {
    margin-left: 220px;
    margin-top: -50px;
  }

  .btn-icon {
    margin-right: 190px;

  }
}

@media (min-width: 768px) {
  .home-image-container {
    width: 728px;
    height: 475px;
    padding: 20px;
  }

  .home-image-container svg {
    width: 55%;
    margin-top: 30px;
    margin-left: 50px;
  }

  .home-image-container h2 {
    width: 420px;
    font-size: 36px;
    margin: 20px auto;
  }

  .home-image-container p {
    width: 420px;
    font-size: 20px;
    margin: -20px auto;
  }

  .home-content-container {
    width: 728px;
  }
}

@media (min-width: 992px) {
  .home-image-container {
    width: 952px;
    height: 610px;
  }

  .home-image-container svg {
    margin-left: 50px;
  }

  .home-content-container {
    width: 952px;
    height: 123px;;
  }

  .btn-icon {
    margin-left: -400px;
  }

  .home-content-container p {
    margin-left: -200px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    height: 720px;
    padding: 20px 150px 50px 150px;
  }

  .home-image-container {
    width: 979px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
  }

  .home-image-container-textos {
    width: 400px;
    margin-left: 70px;
  }

  .home-image-container h2 {
    font-size: 36px;
  }

  .home-image-container-textos p {
    font-size: 16px;;
    text-align: left;
  }

  .home-image-container svg {
    padding: 50px;
    margin-right: 30px;
  }

  .home-content-container {
    width: 979px;
    padding-left: 50px;
  }
}

@media (min-width: 1920px) {
  .home-container {
    height: 720px;
  }

  .home-image-container {
    width: 1620px;
    height: 600px
  }

  .home-content-container {
    width: 1620px;

  }
}
