.home-container {
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid red;
}

.home-image-container {
  background-color: #00285f;
  border-radius: 10px;
  margin: 10px 0px;
}

.home-image-container svg {
  width: 100%;
  margin-top: 60px;
}

.home-image-container h2 {
  color: #ffffff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 5px 10px 5px;
}

.home-image-container h6 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding: 5px 20px 50px 20px;
}
