.main-nav {
  min-height: 70px;
}

.nav-logo-text,
.nav-logo-text:hover {
  font-size: 24px;
  color: #061c3b; 
  text-decoration: none;
  font-weight: 700;
}

.main-menu {
  width: 100%;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.main-menu a {
  color: #061c3b;
  font-weight: 400;
  text-decoration: none;
}

.main-menu a:hover {
  font-weight: 700;
}

.main-menu a.active {
  font-weight: bold;
}

@media (min-width: 576px) {
  .main-nav {
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) {
  .main-menu {
    justify-content: flex-end;
  }

  .main-menu a {
    padding: 30px;
  }
}

@media (min-width: 1280px) {
  .nav-logo-text {
    justify-content: space-between;
    margin-left: 140px;
  }
  .main-menu {
    width: 700px;
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  .nav-logo-text {
    justify-content: space-between;
  }
  .main-menu {
    width: 1420px;
    font-size: 20px;
  }
}
